<!DOCTYPE html>
<html>
  <head>
    <script src="jquery.min.js"     type="text/javascript"></script>
    <script src="json2.js"          type="text/javascript"></script>
    <script src="underscore-min.js" type="text/javascript"></script>
    <script src="backbone-min.js"   type="text/javascript"></script>
    <script src="app.js"            type="text/javascript"></script>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="add_release">+</div>

      <div id="icebox">
        <div class="features">
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
          <div class="feature" draggable="true">Awesome feature here</div>
          <div class="feature" draggable="true">Hooba Joob</div>
          <div class="feature" draggable="true">This is where the feature name goes</div>
        </div>
        <div class="footer">Add Feature</div>
      </div> <!-- /#icebox -->

      <div id="releases"></div>

    </div><!-- /#wrapper -->

    <script id="release_template" type="text/template">
      <input type="text" value="<%= name %>" class="title">
      <div class="features"></div>
      <div class="footer">Add Feature</div>
    </script>

    <script id="feature_template" type="text/template">
      <%= name %>
    </script>
  </body>
</html>
