html, body { font-family: helvetica, arial, sans-serif; }

#wrapper {
  position   : absolute;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  background : #D6DDE5;
}

#add_release {
  position    : absolute;
  top         : 10px;
  right       : 9px;
  width       : 22px;
  height      : 22px;
  color       : #fff;
  font-size   : 16px;
  line-height : 20px;
  text-align  : center;
  background  : #95CF46;
  cursor      : pointer;
  -webkit-user-select   : none;
  -webkit-border-radius : 12px;
}

#icebox {
  overflow : auto;
  position : absolute;
  top      : 0;
  bottom   : 0;
  padding  : 0 10px 0 0;
  left     : 10px;
  width    : 215px;
}

#icebox .features::-webkit-scrollbar                        { width: 8px; height: 8px; }
#icebox .features::-webkit-scrollbar-button:start:decrement,
#icebox .features::-webkit-scrollbar-button:end:increment   { display: block; width: 10px; height: 10px; background-color: transparent; }
#icebox .features::-webkit-scrollbar-track:enabled          { background-color: transparent; }
#icebox .features::-webkit-scrollbar-thumb:vertical,
#icebox .features::-webkit-scrollbar-thumb:horizontal       { width: 30px; background-color: rgba(0, 0, 0, 0.25); -webkit-border-radius: 5px; }
#icebox .features.hover::-webkit-scrollbar-thumb:horizontal,
#icebox .features.hover::-webkit-scrollbar-thumb:vertical   { background-color: rgba(0, 0, 0, 0.3);  }

#icebox .features {
  overflow : auto;
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 30px;
  left     : 0;
  padding  : 5px 5px 0 0;
}

#icebox .footer {
  position    : absolute;
  bottom      : 0;
  left        : 0;
  width       : 98%;
  height      : 30px;
  line-height : 30px;
  color       : #445980;
  font-size   : 14px;
  font-weight : bold;
  text-align  : center;
  text-shadow : 0 1px 0 #fff;
  cursor      : default;
  background  : #A0B9CF;
  background  : -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(1, #ACC7DE),
      color-stop(0, #91A8BC)
  );
  -webkit-user-select   : none;
  -webkit-border-radius : 5px 5px 0 0;
  -webkit-box-shadow    : 0 -1px 0 rgba(255,255,255, 0.3);
}

#icebox .footer:active {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #ACC7DE),
      color-stop(1, #91A8BC)
  );
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0, 0.2);
}

.delete_feature {
  opacity    : 0;
  position   : absolute;
  top        : 2px;
  right      : 2px;
  bottom     : 2px;
  width      : 20px;
  cursor     : pointer;
  background : url(images/close.png) no-repeat 4px 50%;
  -webkit-transition    : all 100ms linear;
  -webkit-border-radius : 3px;
}


#icebox .feature {
  position      : relative;
  margin-bottom : 10px;
  border        : 1px solid rgba(0,0,0, 0.25);
  padding       : 5px;
  font-size     : 12px;
  background    : rgba(255,255,255, 0.6);
  cursor        : move;
  -webkit-border-radius : 4px;
  -webkit-box-shadow    : 0 1px 0 rgba(255,255,255, 0.7);
}

#icebox .feature:hover .delete_feature { opacity : 1; }

#releases {
  overflow   : hidden;
  overflow-x : auto;
  position   : absolute;
  top        : 0;
  right      : 40px;
  bottom     : 0;
  left       : 240px;
  background : #eee;
}

.release {
  position     : absolute;
  top          : 0;
  bottom       : 0;
  left         : -200px;
  width        : 200px;
  margin-left  : 10px;
  padding      : 10px;
}

.release .title, .release .footer {
  outline     : none;
  position    : absolute;
  top         : 0;
  left        : 0;
  width       : 100%;
  height      : 30px;
  border      : 0;
  line-height : 30px;
  color       : #fff;
  font-size   : 14px;
  font-weight : bold;
  text-align  : center;
  text-shadow : 0 -1px 0 rgba(0,0,0, 0.5);
  background  : -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(1, rgb(181,181,181)),
      color-stop(0, rgb(79,79,79))
  );
  -webkit-appearance: none;
}

.release .footer {
  top        : auto;
  bottom     : 0;
  cursor     : default;
  background : -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(1, rgb(200,200,200)),
      color-stop(0, rgb(140,140,140))
  );
  -webkit-user-select   : none;
  -webkit-border-radius : 5px 5px 0 0;
}

.release .footer:active {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(200,200,200)),
    color-stop(1, rgb(140,140,140))
  );
}

.release .features {
  overflow  : auto;
  position  : absolute;
  top       : 30px;
  right     : 0;
  bottom    : 30px;
  left      : 0;
  font-size : 12px;
}

.release .features::-webkit-scrollbar                        { width: 8px; height: 8px; }
.release .features::-webkit-scrollbar-button:start:decrement,
.release .features::-webkit-scrollbar-button:end:increment   { display: block; width: 10px; height: 10px; background-color: transparent; }
.release .features::-webkit-scrollbar-track:enabled          { background-color: transparent; }
.release .features::-webkit-scrollbar-thumb:vertical,
.release .features::-webkit-scrollbar-thumb:horizontal       { width: 30px; background-color: rgba(0, 0, 0, 0.25); -webkit-border-radius: 5px; }
.release .features.hover::-webkit-scrollbar-thumb:horizontal,
.release .features.hover::-webkit-scrollbar-thumb:vertical   { background-color: rgba(0, 0, 0, 0.3); }

#releases .feature {
  position      : relative;
  height        : 30px;
  border-bottom : 1px dashed #bbb;
  cursor        : move;
}

#releases .feature textarea {
  outline     : none;
  position    : absolute;
  top         : 0;
  left        : 0;
  width       : 100%;
  height      : 30px;
  border      : 0;
  line-height : 30px;
  font-size   : 13px;
  background  : transparent;
  z-index     : 1;
  -webkit-appearance: none;
}

#releases .feature:hover .delete_feature {
  opacity : 1;
  z-index : 2;
}
